<div class="movie-info group">
  <div class="movie-poster">
    <img class="" {{bind-attr src=model.poster}}>
  </div>
  <div class="movie-details">
    <h2>{{model.title}}</h2>
    <h2>{{model.year}}</h2>
    <p>{{model.synopsis}}</p>
    <p>
      {{#each model.actors as |actor|}}
       <p>{{actor.name}}</p>
      {{/each}}
    </p>
  </div>
</div>
