<div class="movie-info group">
  <div class="movie-poster poster">
    <img class="" {{bind-attr src=model.poster}}>
  </div>
  <div class="movie-details details">
    <h2 class="movie-title">{{model.title}}</h2>
    <h2>{{model.year}}</h2>
    <p>{{model.synopsis}}</p>
    <li class="actors">
      {{#each model.actors as |actor|}}
       <p>{{actor.name}}</p>
      {{/each}}
    </li>
  </div>
</div>
